<h1>Portfolio Archive</h1>

  <%# One way to link to create new page %>
  <%# <a href="/portfolios/new">Create New Item</a> %>

  <%# Second way of path to new page %>
  <%= link_to "Create New item", new_portfolio_path %>

  <%#
    You have the ability to either pick _path or _url to add to the prefix.
  %>

  <p><%= new_portfolio_path  %></p>
  <%# url option allows us to add subdomains %>
  <p><%= new_portfolio_url  %></p>

  <% @portfolio_items.each do |i| %>
  <h1><%= i.title %></h1>
  <%= image_tag i.thumbnail_image unless i.thumbnail_image.nil?%>
  <em><%= i.subtitle %></em>
  <p><%= i.body %></p>
  <%= image_tag i.main_image if !i.main_image.nil?%>
  <%# You can just add i instead of i.id because rails will automatically use the id parameter %>
  <%= link_to 'Edit', edit_portfolio_path(i) %>
<% end %>
